img {
	width: 92%;
	margin: 4%;
}

.post-title.btn.btn-primary {
	display: block;
	margin-right: auto;
	margin-left: auto;
	color: #d8dee9;
	padding: 14px;
	border-radius: 0;
	background-color: #4c566a;
	white-space: normal;
	border: 4px solid #d8dee9;
	line-height: 1.7em;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-weight: 800 ;
	font-size: 1.8em ;
	text-align: center;
	letter-spacing: 3px;
}

.post-title[aria-expanded="true"] {

}


.post-title.btn.btn-primary .expandIndicator {
	vertical-align: middle;
	float: left;
	font-family: "Courier New";
	margin-top: 2px;
	position: relative;
}


.postBreak {
	margin-top: 28px;
}

.post-title.btn.btn-primary:active {
	background-color: #d8dee9 !important;
	color: #4c566a !important;
	border: 4px solid #4c566a !important;
}
.post-title.btn.btn-primary:focus {
	background-color: #d8dee9 !important;
	color: #4c566a;
	border: 4px solid #4c566a;
}

.post-title.btn.btn-primary:hover {
	background-color: #d8dee9 !important;
	color: #4c566a;
	border: 4px solid #4c566a;
}

#logoGroup {
	max-width: 50%;	
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}

#pttabsGif {
	margin-top: 0;
	margin-bottom: 0;
}

#kitchenBrawlLogo {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.blockQuote {
	margin-left: 9%;
	margin-right: 9%;
	padding-left: 2%;
	padding-right: 2%;
	border-left: 4px solid #4c566a;
}

#unityLogo {
	background-color: white;
	padding: 10px;
}
#post {
	border: 17px solid #4c566a;
	align: center;
	color: #d8dee9;
	padding: 40px;
	max-width: 800px;
}
@media (max-width: 768px) {
	#post {
		border: 0px solid black;
		padding: 10px;
	}
}

#post li {
	margin: 10px;
}

p a {
	color: #6c8caa;
}

#deathmatchMap {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p a:hover {
	color: #6c8caa;
}

#post h2 {
	text-transform: uppercase;
	font-weight: 800 ;
	font-size: 1.5em ;
	text-align: center;
	letter-spacing: 3px;
	margin: 40px;	
}

.post p {

}

.imageCell {
	margin-bottom: 30px;
}
.imageBackground {
	background: #4c566a;
}

body {
	background-color: #2e3440 !important;
	font-family: "M PLUS 1p" !important;
}

#nameContainer {
	text-align: center;
	margin-top: 25px;
}

#nameContainerHome {
	text-align: center;
	margin-top: 25%;
}

#intro {
	margin-bottom: 40px;
	margin-top: 40px;
}

.dropdown button {
	margin-bottom: 3px;
	border-radius: 0;
	border: 0px solid white;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 6px;
	padding-left: 9px;
	margin-left: 1px;
	text-align: center;
	text-transform: uppercase;
	background-color: #4c566a;
	font-size: 1.0em;
	font-weight: 800;
	color: #d8dee9;
	letter-spacing: 4px;

}

.dropdown-toggle::after {
	display: none !important;
}

.menu-item {
	border-radius: 0;
	border: 0px solid white;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 6px;
	padding-left: 6px;
	text-align: center;
	text-transform: uppercase;
	background-color: #4c566a;
	font-size: 2.0em;
	font-weight: 800 !important;
	color: #d8dee9 !important;
	letter-spacing: 4px;
}

.menu-item:hover {
	color: #4c566a !important;
	background-color: #d8dee9 !important;
}

#main-menu {
	padding: 0px !important;
	margin-top: -1px;
	margin-left: -1px;
	border-radius: 0;
	background-color: #4c566a;
}

#dropdownMenuButton:active {
	color: #d8dee9;
}
#dropdownMenuButton:hover {
	background-color: #d8dee9;
	color: #4c566a;
}
#dropdownMenuButton .show {
	background-color: #d8dee9;
	color: #4c566a;
}
#dropdownMenuButton {
	outline: none !important;
	border: 0px solid black !important;
	box-shadow: none !important;
	vertical-align: baseline;
}
.dropdown.show #dropdownMenuButton {
	background-color: #d8dee9 !important;
	color: #4c566a !important;
}


.homeTitle {
	font-family: "M PLUS 1p" !important;
	font-weight: 800;
	font-size: 2.0em;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #d8dee9;
}


#nameLine {
	display: block;
	height: 2px;
	width: 60%;
	border: 0;
	border-top: 2px solid #2e3440;
	border-color: #4c566a;
	margin-bottom: 40px;
	margin-top: 12px;
	padding: 0;
}
