img {
	width: 92%;
	margin: 4%;
}

.imageCell {
	margin-bottom: 30px;
}
.imageBackground {
	background: #4c566a;
}

body {
	background-color: #2e3440 !important;
	font-family: "M PLUS 1p" !important;
}

#nameContainer {
	text-align: center;
	margin-top: 25px;
}

#nameContainerHome {
	text-align: center;
	margin-top: 25%;
}

p {
	font-family: "M PLUS 1p" !important;
	font-weight: 800;
	font-size: 2.0em;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #d8dee9;
}

.dropdown button {
	margin-bottom: 13px;
	border-radius: 0;
	border: 0px solid white;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 6px;
	padding-left: 9px;
	margin-left: 1px;
	text-align: center;
	text-transform: uppercase;
	background-color: #4c566a;
	font-size: 2.0em;
	font-weight: 800;
	color: #d8dee9;
	letter-spacing: 4px;

}

.menu-item {
	border-radius: 0;
	border: 0px solid white;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 6px;
	padding-left: 6px;
	text-align: center;
	text-transform: uppercase;
	background-color: #4c566a;
	font-size: 2.0em;
	font-weight: 800 !important;
	color: #d8dee9 !important;
	letter-spacing: 4px;
}

.menu-item:hover {
	color: #4c566a !important;
}

#main-menu {
	padding: 0px;
	margin-left: 0px;
	margin-top: 6px;
}

.btn:active {
	outline: none !important;
}

.homeTitle {
	font-family: "M PLUS 1p" !important;
	font-weight: 800;
	font-size: 2.0em;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #d8dee9;
}


#nameLine {
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid #2e3440;
	border-color: #4c566a;
	margin-bottom: 40px;
	margin-top: 23px;
	padding: 0;
}
